* {
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    background-image: url(img/green-vegetables-on-brown-wooden-chopping-board-3952047.jpg);
    background-attachment: fixed;
    background-position: left center;
    background-color: black;
    font-family: 'Roboto Condensed', sans-serif;
}
h3 {
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
}
p {
    color: white;
    font-size: 25px;
}
.nav {
    border-bottom: 3px solid white;
    margin: 50px 60px 0 60px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.nav a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    margin-right: 10px;
}
.nav a:last-child {
    margin-right: 0;
}
.main {
    margin-top: 200px;
    margin-bottom: 275px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main h1 {
    font-size: 120px;
    border-bottom: 3px solid white;
}
.main h2 {
    font-size: 50px;
    margin-top: 20px;
    font-weight: 100;
    font-style: italic;
}
.container {
    background-color: black;
    display: flex;
    align-items: center;     
}
.container img {
    width: 600px;
    height: auto;
}
.content {
    background-color: black;
    padding: 60px;
}
